$border-radius: 4px;
$color-primary: #5374fa;
$color-light: #f8f9fa;
$color-dark: #333;

html,body{
  margin: 0;
}
* {
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: $color-dark;
  background-color: $color-light;
}
.body{
  max-width: 1000px;
  margin: 0 auto;
}

.pageHeader{
  padding: 20px 50px;
  width: 100%;
  background: #ddd;
}
.logo{
  a{
    background: linear-gradient(94.23deg, #5374fa 12.41%, #fd9179 52.55%, #ff6969 89.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  }
}
.pageTitle{
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  padding-top: 10px;
  .text{
    font-size: 2em;
    font-weight: bold;
  }
  .versionBox{
    //display: flex;
    //align-items: end;
    padding-bottom: 5px;
    &:hover{
      .versions{
        display: flex;
      }
    }
  }
  .version{
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
    padding: 2px 10px;
    background: rgba(0, 0, 0, .5);
    color: $color-light;
    border-radius: 4px;
    cursor: pointer;
  }
  .versions{
    position: absolute;
    display: none;
    flex-direction: column-reverse;
    background: rgba(0, 0, 0, .5);
    padding: 5px 10px;
    margin-top: 5px;
    margin-left: -10px;
    font-size: 14px;
    border-radius: 4px;
    a{
      color: $color-light;
      text-decoration: none;
    }
  }
}

.packages{
  display: flex;
  //flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  a{
    background: #ddd;
    padding: 10px 20px;
    border-radius: $border-radius;
    color: $color-dark;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}


.homeCover{
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('/images/home/Cover.jpg');
  background-size: cover;
  background-position: center;
  .title{
    //font-size:25px;
    padding-bottom: 20px;
    font-size: 80px;
    &.text-gradient {
      background: linear-gradient(94.23deg, #5374fa 12.41%, #fd9179 52.55%, #ff6969 89.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .desc{
    font-size:18px;
    text-align: center;
    padding-bottom: 20px;
  }
  .button{
    border-radius: $border-radius;
    color: $color-light;
    background: $color-primary;
    padding: 10px 20px;
    text-decoration: none;
  }
  .bgMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff,.7);
  }
  .homeCoverContent{
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }
}

.languagesDialog{
  position: absolute;
  bottom: 50px;
  padding: 20px;
}

.moreFrameworks{
  position: absolute;
  bottom: 0;
  padding: 10px;
  //font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 431px) {
  .homeCover{
    background-image: url('/images/home/vCover.jpg');
    .title{
      font-size: 40px;
    }
    .desc {
      font-size: 14px;
    }
  }
}