name: Update
on:
  schedule:
    - cron: '*/15 * * * *'
jobs:
  test:
    name: Unit test for latest dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install NPM dependencies
        run: npm ci
      - name: Check dependencies size
        run: du -sh node_modules
      - name: Export config UPDATE_CONFIG
        run: echo '${{ secrets.UPDATE_CONFIG }}' > ./config.json
      - name: Update README
        run: npm run reload
      - name: Eslint fix
        run: npm run lint:fix
      - name: Commit changes
        run: |
          git config --global user.email "dennis@sumor.com"
          git config --global user.name "Dennis"
          git add .
          git commit -m "Update README"
          git push
