name: Update Page
permissions:
  actions: write
  contents: write
on:
  push:
    branches: [ 'main' ]
  schedule:
    - cron: '*/15 * * * *'
jobs:
  reload:
    name: Reload README for frameworks
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.output.outputs.changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install NPM dependencies
        run: npm ci
      - name: Check dependencies size
        run: du -sh node_modules
      - name: Ensure config directory exists
        run: mkdir -p ./test/config
      - name: Export config TEST_SERVER
        run: echo '${{ secrets.TEST_CONFIG }}' > ./test/config/config.yml
      - name: Update README
        run: npm run reload
      - name: Auto fix
        run: npm run autofix
      - name: Commit changes
        run: |
          git config --global user.email "dennis@sumor.com"
          git config --global user.name "Dennis"
          git add .
      - id: output
        name: Set output
        run: git diff --quiet && git diff --staged --quiet && (echo "changed=false" >> $GITHUB_OUTPUT) || (echo "changed=true" >> $GITHUB_OUTPUT)
      - name: Git Push
        if: steps.output.outputs.changed == 'true'
        run: git diff --quiet && git diff --staged --quiet || (git commit -m "Update README" && git push)
      - name: Build the website
        if: steps.output.outputs.changed == 'true'
        run: npm run build
      - name: Upload artifacts
        if: steps.output.outputs.changed == 'true'
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/web
  deploy:
    name: Deploy
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    if: needs.reload.outputs.changed == 'true'
    runs-on: ubuntu-latest
    needs: reload
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
